*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, black, rgb(40, 40, 51));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculator{
    border: 2px solid rgb(10, 10, 17);
    border-radius: 20px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 2px 4px rgb(199, 177, 177);
}

input{
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: white;
    box-shadow:0px 2px 4px rgb(143, 143, 215);
    text-align: right;
    font-size: 40px;

}
input::placeholder{
    color: white;
}

button{
    border: none;
    border-radius: 40px;
    height: 80px;
    width: 80px;
    margin: 20px;
    padding: 20px;
    background: transparent;
    color: white;
    font-size: 25px;
    box-shadow: 2px -5px 2px  rgba(198, 192, 192, 0.3);
    cursor: pointer;
}

#eqlBtn{
    background-color: orange ;
}

.operator{
    color: rgb(113, 238, 134);
}